.history-container {
    margin-top: 3%;
    border-radius: 12px;
}

.history-controls {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    margin-bottom: 20px;
    color: #737373;
}

.history-controls input,
.history-controls select {
    padding: 2px 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    color: #737373;
}

.filter-options {
    display: flex;
    gap: 12px;
}

.sorting-controls {
    display: flex;
    gap: 12px;
}

.transaction-history-table {
    width: 100%;
    border-collapse: collapse;
}

.transaction-history-table th,
.transaction-history-table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #f6f6f6;
}

.transaction-history-table th {
    background-color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    padding-top: 2%;
}

.row-even {
    background-color: #f6f6f6;
}

.row-odd {
    background-color: #ffffff;
}

.pagination-controls {
    display: flex;
    justify-content: left;
    margin-top: 2%;
    margin-bottom: 2%;
}

.pagination-btn {
    background-color: #ffffff;
    cursor: pointer;
    padding: 12px 22px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.pagination-btn:hover {
    color: #ffffff;
    background-color: #0061ff;
    font-weight: bold;
}
