
@media only screen and (max-width: 600px) {
}


body {
  font-family: "Open Sans", sans-serif;
  background-color: #fafbfd;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #0061ff;
  font-weight: bold;
}

.navigation-container {
  background-color: white;
  height: 100px;
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.separator-line {
  border-left: 1px solid #b3b3b3;
  height: 40px;
}

.navigation-links {
  display: flex;
  align-items: center;
}

.nav-item {
  padding: 20px;
}


.dashboard-container {
  padding: 0 5%;
}


.welcome-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.welcome-text {
  flex: 3;
}

.welcome-section h1 {
  font-size: 60px;
  font-weight: 700;
}

.welcome-section p {
  font-size: 24px;
  font-weight: 400;
}


.user-profile {
  display: flex;
  flex: 1;
}

.user-details {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-profile img {
  border-radius: 50%;
  border: #0061ff 7px solid;
  object-fit: cover;
}

.user-profile h3 {
  font-size: 16px;
  font-weight: 700;
}

.user-profile p {
  font-size: 16px;
  font-weight: 400;
}


.account-overview {
  display: flex;
  align-items: center;
  gap: 20px;
}


.account-card {
  background-color: #0061ff;
  height: 216px;
  width: 273px;
  color: white;
  padding: 20px;
  border-radius: 20px;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.account-card h4 {
  font-size: 24px;
  font-weight: 400;
}

.account-card h3 {
  font-size: 36px;
  font-weight: 700;
}


.balance-info {
  flex: 3;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  height: 216px;
  width: 913px;
}

.balance-info h4 {
  font-size: 24px;
  font-weight: 400;
}

.balance-info h3 {
  font-size: 36px;
  font-weight: 700;
}


.balance-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.balance-action {
  display: flex;
  align-items: center;
  gap: 10px;
}

.view-button {
  border-radius: 10px;
  padding: 10px;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}

.view-button:hover {
  background-color: #fafbfd;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.balance-button {
  background-color: #0061ff;
  border-radius: 10px;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.balance-button:hover {
  background-color: #0051ff;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
}
